<!DOCTYPE html>
<html>
  <%- include("partials/head") %>
  <body>
    <%- include("partials/header") %>
    <div class="content">
      <h1><%= title %></h1>
      <% types.forEach(function(type) { %>
      <p class="poke-list"><%= type.type %></p>
      <% }) %>
      <a href="/pokedex/types/create"
        ><button class="add" type="button">Add Type</button></a
      >
    </div>
  </body>
</html>
