*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
  padding: 20px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  width: 300px;
}

nav {
  display: flex;
  gap: 15px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 22px;
}

nav a:hover {
  color: yellow;
}

.separator {
  height: 20px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer-ball {
  width: 60px;
  height: 60px;
  border: 6px solid black;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-ball {
  width: 30px;
  height: 30px;
  border: 6px solid black;
  background-color: white;
  border-radius: 50%;
}

body {
  color: black;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
}

.index {
  padding: 25px;
  text-align: center;
}

.index h1 {
  padding-bottom: 10px;
  font-size: 30px;
}

.index button {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  border: none;
  border-radius: 18.5px;
  padding: 5px 10px;
  cursor: pointer;
}

.index button:hover {
  transform: scale(1.05);
  transition: ease-in-out, 0.3s;
}

.index div {
  padding-bottom: 30px;
}

.index a {
  display: block;
  padding: 5px;
}

.list {
  background-color: rgba(255, 255, 0, 0.5);
}

.add {
  background-color: rgba(0, 60, 255, 0.5);
}
